/*
* {
    outline: 1px solid red;
}
*/

body {
    background: #F9F9F9;
}

.headerSection {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/foodImage.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.navRow img {
    height: 10vh;
    margin-left: 10px;
    margin-top: 10px;
}

.userForms {
    float: right;
    list-style: none;
    color: #F9F9F9;
    margin-top: 25px;
}

.userForms li {
    display: inline-block;
    font-size: 15px;
    margin-right: 50px;
    padding: 10px 30px 10px 30px;
    border: 1px solid #F9F9F9;
    background-color: transparent;
}

.userForms .signUp {
    background-color: #d60022;
    border: 1px solid #d60022;
}

.userForms a li {
    color: #F9F9F9;
    text-decoration: none;
}

.introSection {
    margin-top: 150px;
}

.introSection h1 {
    color: #f9f9f9;
    font-size: 40px;
    margin-left: 10px;
}

.searchForm {
    width: 60%;
    margin-top: 50px;
    margin-left: 280px;
}

.searchBar {
    height: 9vh;
    outline: none;
    border-left-style: none;
    background: #F9F9F9;
}

.btn-secondary {
    height: 9vh;
}

.searchIcon .input-group-addon {
    background: #F9F9F9;
    color: #da1414;
    font-size: 20px;
}

.searchIcon .btn-secondary {
    background: #da1414;
    color: #F9F9F9;
}

.aboutSection {
    height: 100vh;
}

.aboutSection h2 {
    margin-top: 60px;
    color: #da1414;
}

.border p {
    font-size: 15px;
    color: #3e3c3c;
    margin-top: 10px;
}

.border h4 {
    font-size: 20px;
    color: #da1414;
}

borderThree p {
    font-size: 15px;
    color: #3e3c3c;
    margin-top: 10px;
}

.borderThree h4 {
    font-size: 20px;
    color: #da1414;
}

.border {
    margin-top: 30px;
    border: 1px solid #e2dfdf;
    height: 16rem;
    width: 35rem;
    padding: 10px 25px 25px 25px;
    margin-right: 35px;
}

.borderThree {
    margin-top: 30px;
    height: 16rem;
    border: 1px solid #e2dfdf;
    width: 36rem;
    padding: 10px 25px 25px 25px;
    /*margin-right: 10px;*/
}

.imageSection {
    margin-top: 60px;
}

.imageSection h3 {
    color: #2E2E2E;
    margin-left: 12px;
    margin-bottom: -60px;
}

.h img {
    /*        width: 350px;*/
    height: 200px;
    background-position: center;
    background-size: contain;
    margin-top: 80px;
}

.footer {
    height: 47vh;
    background: #3e3c3c;
    color: #e2dfdf;
    margin-top: 200px;
}

.termsAndConditions h4 {
    margin-top: 50px;
}

.termsAndConditions li {
    list-style: none;
    margin-top: 70px;
    margin-left: 50px;
    display: inline-block;
    padding: 15px;
    color: #9a9a9a;
    text-align: center;
}

.termsAndConditions p {
    padding: 18px;
    /*    margin-top: 10px;*/
}

.aboutUsDescription img {
    margin-left: 240px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.aboutUsDescription p {
    text-align: justify;
    margin-left: 50px;
}
