.headerSection {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/foodImage.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.navRow img {
    height: 10vh;
    margin-left: 10px;
    margin-top: 10px;
}

.forms {
    float: right;
    list-style: none;
    color: #F9F9F9;
    margin-top: 25px;
}

.forms li {
    display: inline-block;
    font-size: 15px;
    margin-right: 50px;
    padding: 10px 30px 10px 30px;
    border: 1px solid #F9F9F9;
    background-color: transparent;
}

.forms .signUp {
    background-color: #d60022;
    border: 1px solid #d60022;
}

.forms li a {
    color: #F9F9F9;
    text-decoration: none;
}

.introText h1 {
    color: #f9f9f9;
    font-size: 38px;
    margin-top: 125px;
}
