* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
}

h1 {
    font-size: 60px;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/landingImage.jpg');
    background-size: cover;
    background-position: left;
    height: 100vh;
}

.logo img {
    margin-top: 10px;
    margin-left: 20px;
}

.nav {
    float: right;
    margin-top: -50px;
    margin-right: 20px;
}

.navRow li {
    list-style: none;
    display: inline-block;
    margin-left: 25px;
    color: #ffffff;
    padding: 5px;
    font-size: 25px;
}

.formSection {
    width: 480px;
    margin-left: 445px;
    margin-top: -10px;
    border-style: none;
    background-color: #ffffff;
    color: #ffffff;
    height: 80vh;
}

.form {
    margin-left: -2px;
}

.formSection h3 {
    color: #04253a;
    text-align: center;
    line-height: 2em;
}

.formSection h4 {
    color: #04253a;
    text-align: center;
    margin-left: -20px;
    padding-top: -5px;
}

input {
    padding: 10px;
    padding-left: 2px;
    margin-top: 20px;
    border-top-style: none;
    border-bottom: 1px solid #e5e5e5;
    border-left-style: none;
    outline: 0;
    margin-left: 10px;
    font: normal 15px/100% sans-serif;
    width: 320px;
}

.form i {
    color: black;
    padding-left: 50px;
    margin-left: 10px;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
}

.submit input {
    width: 428px;
    margin-left: 30px;
    border-style: none;
    background-color: #136a8a;
}

.form h5 {
    color: black;
    margin-left: 60px;
    margin-top: 50px;
}


/*#d8183d*/
